@model IList<WebApiConsume.Models.ProductResponse>;
@{
    Layout = "_Layout";
}

<h2>Products</h2>

<table class="table table-striped">

    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Stock</th>
        <th>Price</th>
        <th>CreatedDate</th>
        <th>CategoryId</th>
        <th>ImagePath</th>
    </tr>

    @foreach (var product in Model)
    {
        <tr>

            <td>@product.Id</td>
            <td>@product.Name</td>
            <td>@product.Stock</td>
            <td>@product.Price</td>
            <td>@product.CreatedDate</td>
            <td>@product.CategoryId</td>
            <td>@product.ImagePath</td>

        </tr>
    }}


</table>
